.logo-small {
    color: #28a745;
    font-size: 50px;
  }
  
  .logo {
    color: #28a745;
    font-size: 75px;
  }

  .opcion { 
    background-color: #eafaee;
    margin: 5% 5% 5% 5%;
    border-radius: 10px;
  }

  .opcion p {
    padding: 7px;
    text-align: justify;
  }
  
  .opcion h4 {
    padding: 7px;
  }

  .col-sm-4 :hover {
    background-color: #0f3e1a;
    color: white; 
    cursor: pointer; 
  }